<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>White Lotus | Dashboard</title>
    <th:block th:replace="layout/head"/>
</head>

<body>

    <!------------- LOADING SPINNER---------->
    <!-- SIDEBAR -->
    <th:block th:replace="staff-template/sidebar"/>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <th:block th:replace="layout/navbar"/>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <!------  Main header ----->
            <div class="app-title">
                <div class="app-title-child">
                    <h3>Home page</h3>
                </div>
                <div id="clock"></div>
            </div>
            <!---- End Main header --->
            <div class="cards">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <!---- JAVA SCRIPT ---->
    <th:block th:replace="layout/javascript"/>


</body>

</html>